@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 20px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

header {
  nav {
    background: transparent;
    ul {
      li {
        a {
          color: #fff !important;
        }
      }
    }
  }
}

.hero-container {
  height: 100vh;
  position: relative;
  max-height: 1080px;
  max-width: 1920px;
  .carousel {
    height: 100%;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
        img {
          filter: brightness(50%);
          object-fit: cover;
          // width: 100%;
          height: 100%;
        }
      }
    }
  }
  .hero-inner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-content {
      color: #fff;
      h3 {
        font-size: 2.5rem;
      }
      h1 {
        font-size: 3.5rem;
        font-weight: bold;
      }
    }
  }
}

.portfolio {
  .categories {
    .category {
      // transition: all 350ms ease;
      // width: 33%;
    }
  }
}
