@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

html {
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
header {
  nav {
    top: 20px !important;
    background: transparent;
    z-index: 1000 !important;
    ul {
      li {
        a {
          color: #fff !important;
        }
      }
    }
  }
  .nav-top {
    padding: 0.5rem 1rem;
  }
}
h2 {
  font-weight: bold;
  text-transform: capitalize;
}

.hero-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  .carousel {
    .carousel-control-prev {
      position: relative;
      top: -160px;
      left: calc(100vw - 160px);
      height: 60px;
      width: 60px;
      border-radius: 50%;
      transition: all 0.5s ease-in-out;
      z-index: 15;
      &:hover {
        background: #343a40;
      }
    }
    .carousel-control-next {
      position: relative;
      top: -220px;
      left: calc(100vw - 80px);
      height: 60px;
      width: 60px;
      border-radius: 50%;
      transition: all 0.5s ease-in-out;
      z-index: 15;
      &:hover {
        background: #343a40;
      }
    }
    height: 100%;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
        img {
          filter: brightness(80%);
          object-fit: cover;
          height: 100%;
        }
        .carousel-caption {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h3 {
            font-size: 2.5rem;
          }
          p {
            font-size: 3rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

footer {
  background: #000;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 2em 0;
}
.gallery {
  height: 100%;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  padding: 0 1rem;
  img {
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }
}

.aboutme-container {
  .about-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    align-items: center;
    @media screen and (max-width: 992px) {
      grid-template-columns: 2fr 1fr;
    }
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      .about-me-img {
        grid-row: 1;
      }
    }
  }
  .clients-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .client {
      margin: 0 1rem;
      text-align: center;
      img {
        max-width: 120px;
        margin-bottom: 0.5rem;
        border-radius: 50%;
      }
    }
  }
}

.testimonials-container {
  .testimonial {
    img {
      cursor: pointer;
    }
  }
}

.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
